<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.rise"
		  android:versionCode="1"
		  android:versionName="1.0">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<uses-sdk
		android:minSdkVersion="11"
		android:targetSdkVersion="18" />
	<application
		android:name=".RiseApplication"
		android:label="@string/app_name"
		android:icon="@drawable/ic_launcher"
		android:theme="@style/AppTheme"
		android:allowBackup="true">
		<activity
			android:name="com.rise.MainActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".ItemsManageActivity"
			android:label="@string/common_event" />
		<activity
			android:name=".NewItemActivity"
			android:windowSoftInputMode="adjustPan|stateAlwaysVisible" />
	</application>
</manifest>
